/* Estilos de fuente alternativos */
/* Estilos de fuente alternativos */
@import url('estilo.css');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
:root{
    --font-size-normal: 20px;  /* Anterior: 16px */
    --font-size-small: 18px;   /* Anterior: 14px */
    --font-size-medium: 22px;  /* Anterior: 18px */
    --font-size-large: 30px;   /* Anterior: 24px */
    --font-size-xlarge: 40px;  /* Anterior: 32px */
    --font-size-xxlarge: 60px; /* Anterior: 48px */
    --font-size-xxxl: 75px;    /* Anterior: 60px */

    --padding-small: 10px;     /* Anterior: 8px */
    --padding-normal: 12px;    /* Anterior: 10px */
    --padding-medium: 15px;    /* Anterior: 12px */
    --padding-large: 20px;     /* Anterior: 15px */
    --padding-xlarge: 25px;    /* Anterior: 20px */

    --margin-small: 0.75em;    /* Anterior: 0.5em */
    --margin-normal: 1em;      /* Anterior: 0.8em */
    --margin-large: 1.25em;    /* Anterior: 1em */
}