@import url('estilo.css');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
:root{
    --font-size-normal: 20px;  /* Anterior: 16px */
    --font-size-small: 18px;   /* Anterior: 14px */
    --font-size-medium: 22px;  /* Anterior: 18px */
    --font-size-large: 30px;   /* Anterior: 24px */
    --font-size-xlarge: 40px;  /* Anterior: 32px */
    --font-size-xxlarge: 60px; /* Anterior: 48px */
    --font-size-xxxl: 75px;    /* Anterior: 60px */

    --padding-small: 10px;     /* Anterior: 8px */
    --padding-normal: 12px;    /* Anterior: 10px */
    --padding-medium: 15px;    /* Anterior: 12px */
    --padding-large: 20px;     /* Anterior: 15px */
    --padding-xlarge: 25px;    /* Anterior: 20px */

    --margin-small: 0.75em;    /* Anterior: 0.5em */
    --margin-normal: 1em;      /* Anterior: 0.8em */
    --margin-large: 1.25em;    /* Anterior: 1em */
    
    --color-fondo1: #000000; /* Fondo principal negro */
    --color-fondo2: #1a1a1a; /* Fondo secundario gris oscuro */
    --color-header1: #8000FF; /* Header naranja */
    --color-header2: #8000FF; /* Header secundario amarillo */
    --color-formulario-border: #ffffff; /* Borde de formulario blanco */
    --color-temas-destacados: #8000FF; /* Temas destacados en naranja */
    --color-piedepagina: #000000; /* Pie de página negro */
    --color-apartados: #ffffff; /* Color de los apartados blanco */
    --color-apartadosdentro: #333333; /* Fondo de los apartados gris oscuro */
    --color-hover-apartado: #8000FF; /* Hover en amarillo brillante */
    --color-breadcrumb-fondo: #1a1a1a; /* Fondo del breadcrumb gris oscuro */
    --color-breadcrumb-texto: #ffffff; /* Texto del breadcrumb blanco */
    --color-breadcrumb-hover: #8000FF; /* Hover del breadcrumb en amarillo */
    --color-breadcrumb-separador: #ffffff; /* Separador en blanco */
    --color-tabla-fondo: #000000; /* Fondo de tabla negro */
    --color-tabla-par: #1a1a1a; /* Filas pares en gris oscuro */
    --color-tabla-impar: #333333; /* Filas impares en gris */
    --color-tabla-hover: #8000FF; /* Hover en las filas de la tabla amarillo */
    --color-saltar-contenido-fondo: #000000; /* Fondo del salto de contenido negro */
    --color-saltar-contenido-texto: #ffffff; /* Texto del salto de contenido blanco */
    --color-texto-normal: #ffffff; /* Texto normal blanco */
    a {
        color: rgb(237, 122, 237); 
        text-decoration: none; 
    }
    
    
    a:hover {
        color: red; 
    }
    
    
    a:visited {
        color: rgb(237, 122, 237); 
    }
    
    
    a:active {
        color: orange; 
    }
}